header {
  background-color: blue;

}

#nav {
  display: flex;
}

#nav img{
  width: 40px;
  position: absolute;
  padding-left: 5px;
  }

#nav ul{
  }

li {
  display: inline-block;
  font-weight: 600;
  width: 80px;
  margin: 0px auto;
  padding: 5px;
  left: 20px;
  position: relative;
}

#title {
  text-align: center;

}

#banner {
  background-image: url("/home/ns/Documents/Project/Assets/Blank_Canvas_Only.png");
  background-size: cover;
  background-position: center;
  width: 300px;
  height:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#banner .content h1 {
  position: relative;
  top: 100px;
  margin: 0 auto;
  text-align: center;
}

#banner .content h4 {
  position: relative;
  top: 160px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
